[submodule "00__extra/odin-rock-paper-scissors"]
	path = 00__extra/odin-rock-paper-scissors
	url = git@github.com:samyak039/odin-rock-paper-scissors.git
[submodule "00__extra/wesbos-JavaScript30"]
	path = 00__extra/wesbos-JavaScript30
	url = git@github.com:samyak039/wesbos-JavaScript30.git
